/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*=============================Everything=================================*/
/**{
  border: 1px solid red;
}*/

body{
  background-color: #E1F7FF;
  color: #02063B;
  font-family: helvetica;
  margin: 0;
}
/*=============================Header=====================================*/
 .header {
  background-color: white;
  width: 100%;
  position: relative;
  margin-top: 0;
  padding: 0;

}
 .hmenu {
  text-align: right;
  list-style: none;
  padding: 1em;
}

/* ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}*/

.hmenu li {
  display: inline;
}
.head-icon {
  max-height: 2em;
  max-width: 2em;
  float: left;
}

a {
  text-decoration: none;
}
/*=============================Profile Page=================================*/
.profile-pic {
  max-width: 5em;
  max-height: 5em;
  display: inline-block;
  float: left;
  padding-right: 1em;
}

.buttons {
  display: inline-block;
  padding: 1em;
}

.profile {
  margin-left: 2em;
}
.tour-sections {
  margin-left: 5em;
}
.tour {
  margin-left: 5em;
  display: inline-block;

}

.tour img {
  max-height: 10em;
  max-width: 10em;
  display: inline;
}

/*=======================================New Tour=========================*/
/*h2 {
  text-align: center;
}*/
.ta-c { text-align: center }
.ta-r {text-align: right}
.field { padding: 1em;}

.new_tour {
  text-align: left;
  display: block;
  width: 50%;
  margin: auto;
  /*float: left;*/
}

/*=======================================New Step==========================*/

.photo_url {
  /*border: solid red 1px;*/
}

.new_step {
  display: block;
  width: 30%;
  margin: auto;
  text-align: left;
}

.photo_box {
  width: 50%;
  display: inline;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

.address_fields {
  width: 30%;
  margin: auto;
  text-align: right;
}

/*======================================View Tour=======================*/
.show-tour {
  margin-left: 3em;
}

.steps {
  margin: auto;
  width: 50%;
  text-align: center;
  display: block;
}

.step-photo {
  text-align: left;
  display: inline-block;
  width: 25%;
}

.step-photo img {
  max-height: 10em;
  max-width: 10em;
}

.description {
  text-align: left;
  float: right;
  display: inline-block;
  width: 25%;
  padding-bottom: 40em;
}




















