/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*=============================Everything=================================*/
/**{
  border: 1px solid red;
}*/

body{
  background-color: #E1F7FF;
  color: #02063B;
  font-family: helvetica;
  margin: 0;
}
/*=============================Header=====================================*/
 .header {
  background-color: white;
  width: 100%;
  position: relative;
  margin-top: 0;
  padding: 0;

}
 .hmenu {
  text-align: right;
  list-style: none;
  padding: 1em;
}

/* ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}*/

.hmenu li {
  display: inline;
}
.head-icon {
  max-height: 2em;
  max-width: 2em;
  float: left;
}

a {
  text-decoration: none;
}
/*=============================Profile Page=================================*/
.profile-pic {
  max-width: 5em;
  max-height: 5em;
  display: inline-block;
  float: left;
  padding-right: 1em;
}

.buttons {
  display: inline-block;
  padding: 1em;
}

.profile {
  margin-left: 2em;
}
.tour-sections {
  margin-left: 5em;
}
.tour {
  margin-left: 5em;
  display: inline-block;

}

.tour img {
  max-height: 10em;
  max-width: 10em;
  display: inline;
}

/*=======================================New Tour=========================*/
.new_tour {
  text-align: center;
}

/*=======================================New Step==========================*/


/*======================================View New Tour=======================*/






















